@model FiscalInfoApp.Web.ViewModels.PetrolStation.CreatePetrolStationInputModel
@{
    this.ViewData["Title"] = "Add New Petrol Station";
    var companiesItems = this.Model.CompaniesItems.Select(x => new SelectListItem(x.Value, x.Key.ToString()));
}
<div class="col-md-6 offset-md-3">
    <h1>@this.ViewData["Title"]</h1>
    <form method="post">

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Street"></label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CompanyId">Select company owner from the dropdown:</label>
            <select asp-for="CompanyId" class="form-control" asp-items="companiesItems"></select>
            <span asp-validation-for="CompanyId" class="text-danger"></span>
        </div>

        <input type="submit" class="btn-primary" value="Add Petrol Station" />
    </form>
</div>